body {
    padding-top: 50px;
}

.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover!important;
    background-position: 20% 20%!important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}
.background-image-holder img {
    display: none;
}
.background-multiply .background-image-holder {
    background-color: #47b475!important;
    background-blend-mode: multiply;
}
.background-image-holder.fadeIn {
    opacity: 1;
}
.parallax>.background-image-holder,
.parallax .slides li>.background-image-holder {
    height: 100px;
    top: -50vh;
    transition: all 0s ease!important;
    transition: opacity 0.3s ease!important;
    -webkit-transform-style: preserve-3d;
}
.parallax:first-child .slides li>.background-image-holder,
.parallax:first-child .background-image-holder {
    top: 0;
}
.main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
}
@media all and (max-width: 767px) {
    .parallax>.background-image-holder,
    .parallax .slides li>.background-image-holder {
        top: 0!important;
        transform: none!important;
        -webkit-transform: none!important;
    }
}
.newit>.background-image-holder {
    height: 100vh;
    top: -30vh;
    transition: all 0s ease!important;
    transition: opacity 0.3s ease!important;
    -webkit-transform-style: preserve-3d;
    background-position: 70% 70%!important;
}

.image-square {
    height: 50vw;
    max-height: 640px;
    overflow: hidden;
    padding: 0;
}
.image-square .image,
.image-square>.content {
    position: absolute;
}

.image-square .image {
    height: 100%;
}
.image-square>.content {
    padding: 0 10%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}
.image-square.left .image {
    left: 0;
}
.image-square.left>.content {
    right: 0;
}
.image-square.right .image {
    right: 0;
}
.image-square.right>.content {
    left: 0;
}
@media all and (max-width: 990px) {
    .image-square {
        height: auto;
        max-height: 100000px;
        padding-bottom: 48px;
    }
    .image-square .image,
    .image-square>.content {
        position: relative;
    }
    .image-square .image {
        height: 100vw;
        margin-bottom: 48px;
        max-height: 500px;
    }
    .image-square>.content {
        top: 0;
        transform: none;
        -webkit-transform: none;
        padding: 0 20%;
    }
}
@media all and (max-width: 767px) {
    .image-square>.content {
        padding: 0 15px;
    }
}

.col-md-6 {
}

@media all and (min-width: 991px) {
    input.col-md-6,
    button.col-md-6 {
        width: 49%;
        float: left;
    }
    input.col-md-6:first-of-type,
    button.col-md-6:first-of-type {
        margin-right: 1%;
    }
    input.col-md-6:last-of-type,
    button.col-md-6:last-of-type {
        margin-left: 1%;
    }
}
