h2 {
    font-size: 3.8em;
}

p {
    font-size: 1.9em;
}

.row {
    margin: 0px;
}

.col-sm-6 {
    padding: 0px;
}

.col-md-12 {
    padding: 0px;
    display: flex;
    align-items: center;
}

/* Extra small devices (767px and down) */
@media (max-width: 767px) { 
    .col-md-12 {
        display: block; /* turn off the flexible box layout */
    }
}

.page-split {
    color: gray;
    border-color: gray;
    background-color: gray;
}

.image-container {
    height: 50vw;
    max-height: 640px;
    background: url('../img/contact1.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-2 {
    background: url('../img/contact2.png') center center no-repeat scroll;
}

.text-box {
    padding: 0px 10vw;
}

.col-lg-12 {
    padding-left: 10%;
}

.footer-text {
    font-size: 1.5em;
}

footer {
    margin: 60px 0;
}

