h2 {
    font-size: 3.8em;
}

p {
    font-size: 1.9em;
}

.row {
    margin: 0px;
}

.col-sm-6 {
    padding: 0px;
}

.col-md-12 {
    padding: 0px;
    display: flex;
    align-items: center;
}


.page-split {
    color: gray;
    border-color: gray;
    background-color: gray;
}

.image-container {
    height: 50vw;
    max-height: 640px;
    background: url('../img/contact.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-2 {
    height: 50vw;
    max-height: 640px;
}

.text-box-top {
    padding: 0px 10vw;
}

.text-box-bottom {
    padding: 0px 10vw;
}

/* Extra small devices (767px and down) */
@media (max-width: 767px) { 
    .col-md-12 {
        display: block; /* Turn off the flexible box layout */
    }
    /* Add padding to the text to space it out */
    .text-box-top {
        padding: 35px 10vw 8px 10vw;
    }

    .text-box-bottom {
        padding: 8px 10vw 45px 10vw;
    }
}

.footer-text {
    font-size: 1.5em;
}
