html,
body {
    width: 100%;
    height: 100%;
}

.bg-primary {
    background-color: #4F2683;
}

h2 {
    font-size: 4.3em;
    font-weight: 600;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

#typed {
    font-size: 3em;
}

.typed-cursor {
    opacity: 0;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.text-vertical-center h1 {
    margin: 20vh 0px 15px 0px;
    padding: 0;
    font-weight: 600;
}

.lead {
    margin-bottom: 30px;
}

/* Custom Button Styles */

.btn-light {
    width: 185px;
    border-radius: 5px;
    margin: 10px 4vw;
    color: #fff;
    background-color: rgba(79,38,131,0.8);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #000;
    background-color: rgba(255,255,255,0.8);
}

.btn-dark {
    width: 150px;
    border-radius: 5px;
    margin: 10px 4vw;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-top {
    margin-top: 12vh;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/cuccBG.jpg) center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 70px 0;
}

.col-lg-12 li {
    font-size: 1.9em;
}
/* Registration */

.schedule {
    padding: 70px 0;
}

/* Registration */

.registration {
    padding: 70px 0;
}

.registrationselect {
    color: black;
}

.center-table
{
    margin: 0 auto !important;
    float: none !important;
}

.register-header
{
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn-register
{
    width: 265px;
    margin:0 auto;
    text-align: center;
}

/* Hotels */

.hotels {
    padding: 70px 0;
}

.hotel-name {
    font-size: 3.2em;
    padding-bottom: 5px;
}

#hotels > div > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-color: #4F2683;
}

.hotel-blurb {
    font-size: 2.2em;
}

/* location */

.location {
    padding: 70px 0;
    color: white;
    text-shadow: 1px 1px 0px #000;

    background: url(../img/igab02.jpg);
    background-size: cover;
    /* Set a specific height */
    height: 850px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centerheader {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.unilocation {
    margin-bottom: 0px;
}

.maplocation {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* parking */

.parking {
    padding: 70px 0;
}

/* prizes */

.prizes {
    padding: 70px 0;
}

@media(max-width:600px) {
    .maintitle span {
        display: none;
    }
    .maintitle:after {
        content: 'CUCC 2017';
    }

    .unilocation span {
        display: none;
    }
    .unilocation:after {
        content: 'IGAB Atrium, Western University';
    }

    .text-vertical-center h1 {
        margin: 80px 0px 20px 0px;
    }

    .btn-top {
        margin-top: 20px;
    }

    .btn-dark {
        margin: 10px;
    }

}
