html,
body {
    width: 100%;
    height: 100%;
}

.bg-primary {
    background-color: #4F2683;
}

h2 {
    font-size: 4.2em;
    font-weight: 600;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 1.9em;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.text-vertical-center h1 {
    margin: 20vh 0px 0px 0px;
    padding: 0;
    font-weight: 600;
}

.text-vertical-center h3 {
    margin: 20px 0px 10vh 0px;
}

/* Custom Button Styles */

.btn-light {
    width: 150px;
    border-radius: 5px;
    margin: 10px 4vw;
    color: #fff;
    background-color: rgba(79,38,131,0.8);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #000;
    background-color: rgba(255,255,255,0.8);
}

.btn-dark {
    width: 150px;
    border-radius: 5px;
    margin: 10px 4vw;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

@media(max-width:768px) {
    .text-vertical-center h1 {
        margin: 55px 0px 0px 0px;
    }

    .text-vertical-center h3 {
        margin: 20px 0px 10px 0px;
    }

    .btn-dark {
        margin: 10px;
    }
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/cuccBG.jpg) center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 70px 0;
}

.col-lg-12 li {
    font-size: 1.9em;
}

/* Registration */

.registration {
    padding: 70px 0;
}

.registrationselect {
    color: black;
}

.center-table
{
    margin: 0 auto !important;
    float: none !important;
}

.btn-register
{
    width: 265px;
    margin:0 auto;
    text-align: center;
}

/* Hotels */

.hotels {
    padding: 70px 0;
}

/* Map */

.map {
    padding: 50px 0;
}

.aside.call-to-action {
    background-color: red;
}

.centerheader {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.unilocation {
    margin-bottom: 0px;
}

.maplocation {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}
