body {
    padding-top: 50px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 50px;
    color: white;
    font-weight: 600;
    font-size: 7em;
}

h2 {
    font-size: 3.6em;
    font-weight: 600;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 1.7em;
}

@media(max-height:768px) {
    h1 {
        padding: 20px;
    }
}

/* Remove daily puzzle on mobile, center title */
@media(max-width:768px) {
    .col-sm-4.text-center {
        display: none;
    }
    h2 {
        text-align: center;
    }
}

.end-description {
    margin: 0px 0px 20px 0px;
}

/* Style for the 2 clickable buttons */
.btn.btn-default.btn-lg {
    color: #FFFFFF;
    background-color: #4F2683;
    padding: 20px;
    width: 330px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 10px 20px 10px;
}
.btn.btn-default.btn-lg.smaller {
    width: 190px;
}
/* Button animation */
.btn.btn-default.btn-lg span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn.btn-default.btn-lg span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: -20px;
    transition: 0.5s;
}
.btn.btn-default.btn-lg:hover span {
    padding-right: 25px;
}
.btn.btn-default.btn-lg:hover span:after {
    opacity: 1;
    right: 0;
}
/* Center buttons */
.centerButtons {
    display: table;
    margin: 0 auto;
}
.centerButtonMobile {
    text-align: center;
    display: inline;
}
/* Hack to get buttons to center once they start stacking */
@media(max-width:609px) {
    .centerButtonMobile {
        display: block;
    }
}

/* Header Image Background */
.club-header {
    height: 68vh;
    background: url('../img/indexBG.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Removes default margin for panel header */
.panel.panel-default h3 {
    margin: 0; 
    font-weight: 500;
}

/* Hover animation for panel */
.row > div:hover > div.panel {
    margin-top: -5px;
    margin-bottom: 25px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

/* Panel title */
.btn-block h3 {
    color: #FFFFFF;
    background-color: #4F2683;
    transition: all 0.3s;
}

.panel-link {
    height: 160px;
    cursor: pointer;
}

.panel-link:hover h3 {
    color: #807F83;
}

/* Manually added margin for the iframe as it isn't an inbuilt bootstrap element */
.map {
    margin-bottom:15px;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.col-lg-12 {
    padding-left: 20px;
}
