.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #4F2683;
}

.navbar.navbar-inverse.navbar-fixed-top a {
    color: #FFFFFF;
}

/* Hover animation and transitions for the navbar */
.navbar .nav > li > a {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

.navbar .nav > li > a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.navbar {
    margin-bottom: 0px;
}
