/* All the fonts in the webpage are set here */
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.3em;
}

p {
    font-size: 1.5em;
}

li {
    font-size: 1.5em;
}

.panel-body {
    font-size: 1.5em;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #4F2683;
}

.navbar.navbar-inverse.navbar-fixed-top a {
    color: #FFFFFF;
}

/* Hover animation and transitions for the navbar */

.navbar .nav > li > a {
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.navbar .nav > li > a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.navbar {
    margin-bottom: 0px;
}

/* Navbar mobile */

.navbar-inverse .navbar-toggle {
    border-color: #807F83;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle.collapsed:hover {
    background-color: #FFFFFF;
}
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle.collapsed:hover .icon-bar {
    background-color: black;
}

.navbar-inverse .navbar-toggle.collapsed {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
    background-color: #FFFFFF;
}
