.lead {
    margin-bottom: 10px;
    font-size: 21px;
}

/*
 * Hack to get IE to behave with vectors
 * 
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
}

.col-lg-12 {
    padding-bottom: 30px;
}

.col-md-6 {
    padding-left: 0px;
}

.leading {
    padding-bottom: 0px;
}

.vertical-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-header {
    margin-bottom: 0px;
}

.partner-divider {
    padding-top 50px;
}

.other-donations {
    padding-left: 37px;
}

.benefits-list {
    font-size: 2em;
}

@media(max-width:1092px) {
    .col-md-6 {
        float: left !important;
    }
}

@media(max-width:768px) {
    .col-lg-12 {
        padding-left: 15px;
    }

    h1, .lead {
        text-align: center;
        font-size: 4em;
    }

    .lead {
        font-size: 2.1em;
    }

    img {
        padding: 0% 8% 8% 8%;
    }

    .vertical-center {
        flex-direction: column;
    }

    .logo-round {
        max-height: 40vw;
    }
}

@media(max-width:540px) {
    .logo-round {
        max-height: 40vw;
    }
}

