h3 {
}

.lead {
    margin-bottom: 50px;
}

.subh3 {
    font-size: 2.1em;
    margin-top: 0px;
    color: #757575;
}

.col-md-6 {
    padding-left: 0px;
}

.col-xs-8 {
    padding: 0px;
    margin-bottom: 40px;
}

.col-xs-4 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
}

.other-donations {
    padding-left: 37px;
}

footer {
    margin: 50px 0;
}
