.lead {
    margin-bottom: 10px;
}

.subh3 {
    font-size: 2.1em;
    margin-top: 0px;
    color: #757575;
}

img {
    margin-top: 23px;
    padding: 0% 15% 15% 15%;
    max-width: 100%;
    height: auto;
}
/*
 * Hack to get IE to behave with vectors
 * 
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
}

.col-md-6 {
    padding-left: 0px;
}

.col-xs-8 {
    padding: 0px;
    margin-bottom: 0px;
}

.col-xs-4 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.other-donations {
    padding-left: 37px;
}

@media(max-width:1092px) {
    .col-md-6 {
        float: left !important;
    }
}

@media(max-width:768px) {
    h1, .lead {
        text-align: center;
    }

    img {
        padding: 0% 8% 8% 8%;
    }
}

.col-lg-12 {
    padding-left: 30px;
}
