body {
    padding-top: 40px;
}

.email {
    margin-top: 10px;
    line-height: 0%;
}

.col-lg-4.col-sm-6.text-center {
    margin-bottom: 15px;
}

.img-center {
	margin: 0 auto;
}

@media(max-width:768px) {
    h1 {
        text-align: center;
    }
}

footer {
    margin: 50px 0;
}
